{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "current",
                    "uglify": true
                }
            }
        ],
        "react"
    ]
}