**/.vscode/
**/.vs/

**/node_modules/
**/_build/
**/_package/

**/*.log
**/*.map
**/*.taskkey
**/*/*.loc.json
**/*/resources.resjson
**/package-lock.json
**/.DS_Store
coverage/

# auto generated runners
Tasks/SecretsManagerGetSecret/SecretsManagerGetSecret.ts
Tasks/**/*.runner.ts
